{% extends "base.html" %}

{% block main %}
<!-- <a target="_blank" href="https://icons8.com/icon/561/bed">Bed</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> -->
<!-- <a target="_blank" href="https://icons8.com/icon/9141/shower">Shower</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> -->
<!-- <a target="_blank" href="https://icons8.com/icon/85049/location">Location</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> -->

<div class="view-property">
   
        <div class="property1">
            <div class="image-view">
                <img src="{{ url_for('get_image', filename=property.photo) }}" alt="Property photo">
            </div>
            <div class="info-view">
                <h2>{{ property.title }}</h2>
                <div class="to-view">
                    <p class="price-view">${{ property.price }}</p>
                    <p class="type-view">{{ property.type }}</p>
                </div>
                <p>{{ property.description }}</p>
                <div class="icon-view">
                    <img src="{{ url_for('static', filename='icons8-bed-50.png') }}" alt="Bed icon">  
                    <p>{{ property.bedrooms }} Bedrooms</p>
                    <img src="{{ url_for('static', filename='icons8-shower-50.png') }}" alt="Bed icon">  
                    <p>{{ property.bathrooms }} Bathrooms</p>
                </div>
                <div class="icon-view1">
                    <img src="{{ url_for('static', filename='icons8-location-24(black).png') }}" alt="Location icon">                 
                    <p>{{ property.location }}</p>  
                </div>              
                <div class="button-view">
                    <button type="submit">Email Realtor</button>
                </div>
            </div>
        </div>
        
</div>

{% endblock %}