{% extends "base.html" %}

{% block main %}
<!-- <a target="_blank" href="https://icons8.com/icon/85049/location">Location</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> -->

<h1 class="title1"><b>Properties</b></h1>
<div class="list-properties">
    {% for property in properties %}
            <div class="property">
                <img src="{{ url_for('get_image', filename=property.photo) }}" alt="Property photo">
                <div class="property-info">
                    <h5>{{ property.title }}</h5>  
                    <div class="loc">
                        <img src="{{ url_for('static', filename='icons8-location-24.png') }}" alt="Location icon">                  
                        <p class="location1">{{ property.location }}</p>
                    </div>
                    <p class="price1">${{ property.price }}</p>
                </div>
                <a href="{{ url_for('indiv_property', propertyid=property.id) }}">View Property</a>
            </div>
        {% endfor %}
</div>


{% endblock %}